/Nueva Carpeta/perro/nbproject/private/
/Nueva Carpeta/perro/build/
/Nueva Carpeta/Ejerc_Relaciones_02_Revolver/nbproject/private/
/Nueva Carpeta/Ejerc_Relaciones_02_Revolver/build/
/Nueva Carpeta/Ejerc_Relaciones_03_Barajas/nbproject/private/
/Nueva Carpeta/Ejerc_Relaciones_03_Baraja/nbproject/private/
/Nueva Carpeta/Ejerc_Relaciones_03_Baraja/build/
/Nueva Carpeta/RevolverSanti/nbproject/private/